@import "tailwindcss";

/* Custom theme variables */
@theme {
    /* Fonts */
    --font-sans: "Inter", ui-sans-serif, system-ui;

    /* Colors */
    --color-primary: #1b31a8;
    --color-secondary: #0079ff;
    --color-background: #f4f8fa;
}
