@import "tailwindcss";

/* Custom theme variables */
@theme {
    /* Fonts */
    --font-sans: "Work Sans", ui-sans-serif, system-ui;
    --font-rubik: "Rubik", ui-sans-serif, system-ui;

    /* Colors */
    --color-primary: #1b31a8;
    --color-secondary: #0079ff;
    --color-background: #f4f8fa;
}

.hover-scale {
    @apply transition-transform duration-300 ease-in-out;
}

.hover-scale:hover {
    @apply scale-110;
}
